name = "makepdfform"
main = "packages/server/src/index.ts"
compatibility_date = "2024-02-08"
compatibility_flags = ["nodejs_compat"]

[vars]
POLAR_SUCCESS_URL = "http://localhost:5173/success?checkout_id={CHECKOUT_ID}"
PUBLIC_APP_URL = "http://localhost:5173"

# Static Assets
[assets]
directory = "./packages/client/build"
binding = "ASSETS"

# D1 Database Binding
[[d1_databases]]
binding = "DB"
database_name = "makepdfform-db"
database_id = "3527a955-94a5-4fb6-bdb8-1e1ec7450945"
migrations_dir = "./packages/server/drizzle"

# R2 Bucket Binding
[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "makepdfform-files"

# KV Namespace Binding
[[kv_namespaces]]
binding = "KV_CACHE"
id = "734ee63d8db7431296cccf988defc443"

# Durable Object Binding
[[durable_objects.bindings]]
name = "FORM_ROOM"
class_name = "FormRoom"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["FormRoom"]

[env.production]
name = "makepdfform-server-prod"
[env.production.vars]
POLAR_SUCCESS_URL = "https://makepdfform.lama-4db.workers.dev/success?checkout_id={CHECKOUT_ID}"
PUBLIC_APP_URL = "https://makepdfform.lama-4db.workers.dev"

[[env.production.d1_databases]]
binding = "DB"
database_name = "makepdfform-prod"
database_id = "4ebc8ae7-502f-4237-944e-54fe86ade49a"
migrations_dir = "./packages/server/drizzle"

[[env.production.r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "makepdfform-files"

[[env.production.kv_namespaces]]
binding = "KV_CACHE"
id = "734ee63d8db7431296cccf988defc443"

[[env.production.durable_objects.bindings]]
name = "FORM_ROOM"
class_name = "FormRoom"
