name = "makepdfform-server"
main = "src/index.ts"
compatibility_date = "2024-02-08"

# Static Assets
[assets]
directory = "../client/build"
binding = "ASSETS"

# D1 Database Binding
[[d1_databases]]
binding = "DB"
database_name = "makepdfform-db"
database_id = "3527a955-94a5-4fb6-bdb8-1e1ec7450945"
migrations_dir = "drizzle"

# R2 Bucket Binding
[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "makepdfform-files"

# KV Namespace Binding
[[kv_namespaces]]
binding = "KV_CACHE"
id = "734ee63d8db7431296cccf988defc443"

# Durable Object Binding
[[durable_objects.bindings]]
name = "FORM_ROOM"
class_name = "FormRoom"

[[migrations]]
tag = "v1"
new_classes = ["FormRoom"]
