name = "makepdfform-api"
main = "src/index.ts"
compatibility_date = "2025-04-01"
compatibility_flags = ["nodejs_compat_populate_process_env", "nodejs_compat"]

# Static Assets
[assets]
directory = "../client/build"
binding = "ASSETS"

# D1 Database Binding
[[d1_databases]]
binding = "DB"
database_name = "makepdfform-db"
database_id = "3527a955-94a5-4fb6-bdb8-1e1ec7450945"
migrations_dir = "drizzle"

# R2 Bucket Binding
[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "makepdfform-files"

# KV Namespace Binding
[[kv_namespaces]]
binding = "KV_CACHE"
id = "734ee63d8db7431296cccf988defc443"

# Durable Object Binding
[[durable_objects.bindings]]
name = "FORM_ROOM"
class_name = "FormRoom"

[[migrations]]
tag = "v1"
new_classes = ["FormRoom"]

[env.production]
name = "makepdfform-api-prod"
[[env.production.d1_databases]]
binding = "DB"
database_name = "makepdfform-prod"
database_id = "4ebc8ae7-502f-4237-944e-54fe86ade49a"
migrations_dir = "drizzle"

[[env.production.r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "makepdfform-files"

[[env.production.kv_namespaces]]
binding = "KV_CACHE"
id = "734ee63d8db7431296cccf988defc443"

[[env.production.durable_objects.bindings]]
name = "FORM_ROOM"
class_name = "FormRoom"
